 /*Custom Fonts*/

 @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap'); /* TEXT */

 @font-face {
     font-family: Steam;
     src: url(../font/Steam.ttf);
 }

 /*Navbar*/
 nav {
     display:flex;
     justify-content:space-evenly;
     width: 100%;
     position: relative;
     z-index: 10;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 }

 nav a {
     opacity: 1;
     color: #D5D5D6;
     font-size: 26px;
     font-weight: bold;
     display: block;
     text-decoration: none;
 }

 nav div {
     padding: 10px;
     flex-grow: 1;
     text-align: center;
     background-color: #AB47BC;
     cursor: pointer;
     transition: background-color 0.4s ease-out;
 }

 nav div:hover {
     background-color: #9B42AA;
 }

 nav.sticky {
     position: sticky;
     top: 0;
 }

/* Standard HTML */
header {
    font-family: 'Steam', sans-serif;
    font-size: 2.5em;
    color: #AB47BC;
    text-shadow: 3px 3px black;
    padding-top: 6vh;
    text-align: center;
    height: 25vh;
    background-color: #111111;
    background-image: url("../steamgrid/capsule.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../img/background2.gif");
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #181818;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Steam', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #D5D5D6;
    text-decoration: none;
}

h1 {
    color: #EFF0F1;
    margin-top: 4px;
    font-family: 'Steam', sans-serif;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #EFF0F1;
    font-size: 1.2em;
    margin-top: 4px;
    font-family: 'Steam', sans-serif;
    font-weight: bold;
    text-align: center;
}
 h3 {
     color: #EFF0F1;
 }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

section {
    border-radius: 15px 30px 15px 5px;
    background-color: #303030;
    padding: 20px;
    margin: 20px auto;
    font-size: 1.1em;
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 350px;
}

 .gallery {
     margin: 0;
     padding: 70px;
     width: 100%;
     display: flex;
     justify-content: space-between;
 }

.borderedSection {
    box-shadow: 4px 4px #AB47BC;
 }

form {
    text-align: center;
}

button {
    font-family: 'Steam', sans-serif;
    background-color: #303030;
    color: #EFF0F1;
    border: 2px solid #AB47BC;
    border-radius: 4px;
    font-size: 22px;
    transition: background-color 0.4s ease-out;

}

.buttons {
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
 }

 button:hover {
     background-color: #606060;
     transition: background-color 0.4s ease-out;

 }

footer {
    color: #EFF0F1;
    background-color: #34445B;
    height: 8vh;
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    align-items: center;
    margin-top: auto;
}

 .fa-github{
     font-size: 2rem;
     transition: background-color 0.4s ease-out;
 }

 .fa-github:hover {
     color: darkgray;
     transition: background-color 0.4s ease-out;
 }

footer div, i {
    flex: 1;
}